fastapi
uvicorn
httpx
python-dotenv
pytest
testcontainers[postgres]
sqlalchemy
psycopg2-binary
redis
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-otlp-proto-grpc
